
# IntelliJ
.idea/

# Eclipse
.classpath
.project
.settings/

# Visual Studio Code
.vscode/

# Ignore Build file 
build

# Logs
*.log

# Operating System Files
.DS_Store
Thumbs.db

# Spring Boot specific
spring-boot-starter.log
